
h1 {
    text-align: center;
    color: white;
    padding-top: 40px;
  }

  .popular-movies{
    background-color: rgb(3, 37, 56);
  }

  .scroller {
    height: 320px;
    overflow-y: hidden;
    overflow-x: auto !important;
    display: flex;  
    padding: 10px;
    width: 85%;
    margin: 0 auto;
    margin-top: 20px;
    min-width: 138px;
  }
  
  .item-text{
    min-height: 60px;
  }
    .rating {
      position: absolute;
      top: 0;
      color: white;
      align-items: center;
      display: flex;
    }
  
    .title {
      font-weight: bold;
      padding-top: 5px;
    }
  
    .rating{
      position: relative;
      color: white;
      text-align: center;
    }

    .vote-average{
      text-align: left;
      margin: auto;
      margin-left: 0;
    }

    #star{
      text-align: center;
      margin: 0;
      margin: auto;
      margin-right: 0;
    }

    .scroll-item {
      margin-right: 10px;
      border-radius: 8px;
      background: #042038 !important;
      color: white;
      max-width: 140px;
      position: relative;
      transition: all 0.5s;
      text-decoration: none;
      width: 140px;
      height: 175px;
      margin-left: 10px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
    
    .vote-average p :hover{
      text-decoration: underline;
    }
    
      p {
        font-size: 14px;
        margin: 0;
        text-align: center;
      }

      img {
        min-width: 138px;
        width: 140px;
        height: 175px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }

      ::-webkit-scrollbar {
        width: 25%;
      }
      ::-webkit-scrollbar-track {
        background: white;
        border-radius: 10px;
        background-color: rgb(3, 37, 56);
      }
      ::-webkit-scrollbar-thumb {
        background-color: rgb(15, 82, 121);
        border-radius: 10px;
      }
    
      .vote-average{
          color: white;
      }