<div class="scroller" *ngIf="credits">
  <ng-container *ngFor="let cast of credits.cast; let i = index">
    <a routerLink="/details/{{cast.media_type}}/{{cast.id}}" class="scroll-item" [class.adult]="cast.adult" *ngIf="i<=10">
      <img src="https://image.tmdb.org/t/p/w1280{{cast.poster_path}}" *ngIf="cast.poster_path && !cast.adult">
      <div class="movie-info">
        <p class="title">{{cast.title == null? (cast.original_name| slice:0:30): (cast.title| slice:0:35)}}</p>
        <div class="rating">
          <svg style="width:26px;height:26px;" viewBox="0 0 24 24">
            <path fill="yellow"
              d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" />
          </svg>
          <span class="vote-average">{{cast.vote_average}}</span>
        </div>
      </div>
    </a>
  </ng-container>

</div>


<!--Movies-->
<div *ngIf="credits" class="movies">
  <h1>Movies</h1>
  <ng-container *ngFor="let credit of credits.cast | sortBy: 'desc':'release_date'">
    <a routerLink="/details/movie/{{credit.id}}" [class.adult]="credit.adult"
      *ngIf="credit.media_type == 'movie'">
      <p>
        <span *ngIf="credit.release_date">{{credit.release_date|date:"yyyy"}} - </span>
        <strong>{{credit.original_title}}</strong> as {{credit.character}}
      </p>
    </a>
  </ng-container>
</div>

<!--TV shows-->
<div *ngIf="credits" class="tv">
  <h1>TV shows</h1>
  <ng-container *ngFor="let credit of credits.cast | sortBy: 'desc':'first_air_date'">
    <a routerLink="/details/tv/{{credit.id}}" *ngIf="credit.media_type == 'tv'" [class.adult]="credit.adult">
      <p>
        <span *ngIf="credit.first_air_date">{{credit.first_air_date | date: "yyyy"}} - </span>
        <strong>{{credit.original_name}}</strong> <span *ngIf="credit.episode_count"> ({{credit.episode_count}}
          {{credit.episode_count>1?"episodes":"episode"}})</span> as {{credit.character}}
      </p>
    </a>
  </ng-container>
</div>

<div *ngIf="showProduction" class="production">
  <h1>Production</h1>
  <ng-container *ngFor="let credit of credits.crew | sortBy: 'desc':'release_date'">
  <a routerLink="/details/{{credit.media_type}}/{{credit.id}}" *ngIf="credit.department == 'Production'" [class.adult]="credit.adult">
    <p>
      <span *ngIf="credit.release_date">{{credit.release_date | date: "yyyy"}} - </span>
      <strong>{{credit.title}}</strong> as {{credit.job}}
    </p>
  </a>
</ng-container>
</div>

<div *ngIf="showDirecting" class="directing">
  <h1>Directing</h1>
  <ng-container *ngFor="let credit of credits.crew | sortBy: 'desc':'release_date'">
  <a routerLink="/details/{{credit.media_type}}/{{credit.id}}" *ngIf="credit.department == 'Directing'" [class.adult]="credit.adult">
    <p>
      <span *ngIf="credit.release_date">{{credit.release_date | date: "yyyy"}} - </span>
      <strong>{{credit.title}}</strong> as {{credit.job}}
    </p>
  </a>
</ng-container>
</div>

<div *ngIf="showCrew" class="crew">
  <h1>Crew</h1>
  <ng-container *ngFor="let credit of credits.crew | sortBy: 'desc':'release_date'">
  <a routerLink="/details/{{credit.media_type}}/{{credit.id}}" *ngIf="credit.department == 'Crew'" [class.adult]="credit.adult">
    <p>
      <span *ngIf="credit.release_date">{{credit.release_date | date: "yyyy"}} - </span>
      <strong>{{credit.title}}</strong> as {{credit.job}}
    </p>
  </a>
</ng-container>
</div>