main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 40px;
    background-color: rgb(3, 37, 56);
  
  }
  
  .search {
    background-color: transparent;
    border: 2px solid #d6dadf2e;
    border-radius: 50px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: #fff;
    width: 40%;
    transition: all 0.6s;
  
    &:not(:first-of-type) {
      margin-left: 10px;
    }
  
    &::placeholder {
      color: rgba(255, 255, 255, 0.7);
    }
  
    &:focus {
      outline: none;
      background-color: #03213a;
      width: 55%;
    }
  }

  .input{
    padding-top: 30px;
    text-align: center;
    margin: auto;
    background-color: rgb(3, 37, 56);
  }

  .movie {
    width: 300px;
    margin: 1rem;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
  
    &:hover {
      .movie-info {
        opacity: 1;
        z-index: 1;
      }
      img {
        transform: scale(1.04);
      }
  
      .movie-info .overview-trailer-buttons-wrapper {
        opacity: 1;
      }
    }
  
    img {
      width: 100%;
      transition: all 0.6s;
      min-height: 450px;
    }
  
    .movie-info {
      color: #eee;
      padding: 10px;
      letter-spacing: 0.5px;
      text-align: center;
      position: absolute;
      width: 100%;
      background: #000000d9;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: all 0.8s;
      opacity: 0;
      z-index: -1;
      cursor: pointer;
  
      .overview-trailer-buttons-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        padding: 5px;
        opacity: 0;
        transition: all 1s;
        transition-delay: 0.3s;
  
        p {
          margin-top: 30px;
          cursor: pointer;
          color: #ffff005c;
          display: inline-block;
        }
      }
  
      .overview {
        background-color: #020000;
        color: white;
        padding: 2rem;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        max-height: 60%;
        transform: translateY(101%);
        overflow-y: auto;
        transition: transform 0.8s;
  
        &.show {
          transform: translateY(0);
        }
  
        .close-icon {
          position: absolute;
          top: 5px;
          right: 5px;
          cursor: pointer;
          max-height: 20px;
          min-height: 20px;
          width: 20px;
          background: white;
          border-radius: 50%;
        }
      }
  
      .rating {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 5px;
        left: 5px;
        border-radius: 3px;
  
        span {
          background: #08284521;
        }
  
        .vote-average {
          background: none;
          padding: 0px 2px;
        }
      }
    }
  }
  
  .pagination-wrapper {
    margin-top: 40px;
  
    ngb-pagination ::ng-deep ul > li:not(.active) > a {
      background-color: #032541;
      color: white;
      border-color: #032541;
    }
  
    ngb-pagination ::ng-deep ul > li.active > a {
      background-color: #144166;
      border-color: #144166;
      border-radius: 5px;
    }
  }
  
  .filter {
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 9;
    transition: all 1s;
    cursor: pointer;
  
    .genres,
    .keywords {
      text-align: center;
      margin-top: 30px;
      padding: 0;
  
      li {
        cursor: pointer;
        display: inline-block;
        padding: 8px 16px 10px 16px;
        font-size: 14px;
        font-weight: 600;
        line-height: 1;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 10px;
        transition: all 0.3s ease-in-out;
        border-radius: 4px;
        background: #042038;
        margin-right: 5px;
  
        &:hover {
          transform: translateY(-2px);
        }
  
        &.active {
          background: #216289;
        }
  
        &.passive {
          background: #042038 !important;
        }
      }
    }
  
    .genres{
      &.hide{
        display: none;
      }
    }
  
    .nav-tabs {
      align-items: center;
      justify-content: center;
      border-color: #0b2943;
      padding-bottom: 10px;
  
      .nav-link {
        border-radius: 30px;
        padding: 1px 15px;
        transition: all 0.6s;
        color: white;
        border: none;
  
        &:hover {
          background: #0b355a;
          color: white;
        }
        &.active {
          background: #0d3354;
          color: white;
        }
      }
    }
  }
  
  header {
    background: transparent;
    padding: 0;
    margin-top: 20px;
  }
  
  .btn-first{
      margin: 20px 0px;
      padding:8px 0px;
      width: 500px;
  }
  
  .btn-next{
      margin: 20px 0px;
      padding:8px 0px;
      width: 220px;
  }
  
  .btn-previous{
      width: 220px;
      padding:8px 0px;
      margin: 20px 20px 20px 0px;
  }

  @media (max-width: 768px) {

    .btn-first{
      margin: 20px 0px;
      padding:8px 0px;
      width: 150px;
  }
  
  .btn-next{
    display: inline-block;
      width: 120px;
      margin: 5px 0px;
      padding:8px 0px;
      display: block;
  }
  
  .btn-previous{
      display: inline-block;
      width: 120px;
      padding:8px 0px;
      margin: 20px 20px 20px 0px;
  }
  }