<div class="input">
  <input #searchBox id="search" (input)="search(searchBox.value)" class="search" placeholder="Search for a movie" />
</div>

<main id="main" *ngIf="movies">
  <ng-container *ngFor="let movie of movies.results">
    <a routerLink="/details/movie/{{movie.id}}" class="movie" on-mouseover="onMouseOver(movie)">
      <img src="https://image.tmdb.org/t/p/w1280{{movie.poster_path}}" alt="{{movie.original_title}}"
        *ngIf="movie.poster_path">
      <img *ngIf="!movie.poster_path"
        src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTIxIDE3LjJMNi44IDNIMTlDMjAuMSAzIDIxIDMuOSAyMSA1VjE3LjJNMjAuNyAyMkwxOS43IDIxSDVDMy45IDIxIDMgMjAuMSAzIDE5VjQuM0wyIDMuM0wzLjMgMkwyMiAyMC43TDIwLjcgMjJNMTYuOCAxOEwxMi45IDE0LjFMMTEgMTYuNUw4LjUgMTMuNUw1IDE4SDE2LjhaIiAvPjwvc3ZnPg==">

      <div class="movie-info">

        <div class="overview-trailer-buttons-wrapper">
          <h4>{{movie.title == null ? movie.original_name: movie.title}} ({{movie.release_date|date:"yyyy"}})</h4>
          <p class="show-overview" #showOverview (mouseenter)="showOverview.classList.toggle('active')">Overview</p>
        </div>

        <div class="overview" #overview [class.show]="showOverview.classList.contains('active')"
          (mouseleave)="showOverview.classList.remove('active')">
          <p>{{movie.overview}}</p>
        </div>

        <div class="rating">
          <svg style="width:26px;height:26px;" viewBox="0 0 24 24">
            <path fill="yellow"
              d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" />
          </svg>
          <span class="vote-average">{{movie.vote_average}}</span>
        </div>

      </div>

    </a>
  </ng-container>

  <div class="buttons">
    <button *ngIf="currentPage == 1" class="btn btn-primary btn-first" (click)="LoadNewMovies()">Next page</button>
    <button *ngIf="currentPage != 1" class="btn btn-primary btn-previous" (click)="LoadPrevMovies()">Previous page</button>
    <button *ngIf="currentPage != 1" class="btn btn-primary btn-next" (click)="LoadNewMovies()">Next page</button>
  </div>

</main>
