<div class="input">
  <input #searchBox id="search" (input)="getPeopleBySearchQuery(searchBox.value, 1)" class="search" placeholder="Search for an actor" />
</div>

<main id="main" *ngIf="people">
  
  <ng-container *ngIf="people">
    <div class="person-container">
      <a routerLink="/person/{{person.id}}" class="person" [class.porn]="person.adult" *ngFor="let person of people.results" (mouseenter)="onHover(person)">
        <img *ngIf="person.profile_path" src="https://image.tmdb.org/t/p/w500{{person.profile_path}}" alt="">
        <img *ngIf="!person.profile_path"
        src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTIxIDE3LjJMNi44IDNIMTlDMjAuMSAzIDIxIDMuOSAyMSA1VjE3LjJNMjAuNyAyMkwxOS43IDIxSDVDMy45IDIxIDMgMjAuMSAzIDE5VjQuM0wyIDMuM0wzLjMgMkwyMiAyMC43TDIwLjcgMjJNMTYuOCAxOEwxMi45IDE0LjFMMTEgMTYuNUw4LjUgMTMuNUw1IDE4SDE2LjhaIiAvPjwvc3ZnPg==">
        <p class="name">{{person.name}}</p>
      </a>
    </div>
  </ng-container>
  
  <button *ngIf="currentPage == 1" class="btn btn-primary btn-first" (click)="LoadActors()">Next page</button>
  <button *ngIf="currentPage != 1" class="btn btn-primary btn-previous" (click)="LoadPrevActors()">Previous page</button>
  <button *ngIf="currentPage != 1" class="btn btn-primary btn-next" (click)="LoadActors()">Next page</button>
  
</main>