main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(3, 37, 56);
}

.person-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  background-color: rgb(3, 37, 56);


  @media (max-width: 768px) {
    margin-top: 160px;
  }

  .person {
    width: 200px;
    margin-right: 25px;
    margin-bottom: 30px;
    color: white;

    @media (max-width: 768px) {
      width: 180px;
      margin-right: 0px;

      &:nth-child(odd) {
        margin-right: 10px;
      }
    }

    &.porn {
      position: relative;

      &::before {
        content: "pornography";
        position: absolute;
        top: -2px;
        z-index: 9;
        left: 50%;
        transform: translateX(-50%);
        font-weight: bold;
        background: red;
        width: 100%;
        color: white;
        text-align: center;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
      }
      img {
        filter: blur(3px) grayscale(1);
      }
    }

    img {
      height: 100%;
      width: 100%;
      border-radius: 10px;
      min-height: 275px;
    }
  }
}

.input{
  padding-top: 30px;
  text-align: center;
  margin: auto;
  background-color: rgb(3, 37, 56);
}


.search {
  background-color: transparent;
  border: 2px solid #d6dadf2e;
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
  width: 40%;
  transition: all 0.6s;

  &:not(:first-of-type) {
    margin-left: 10px;
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }

  &:focus {
    outline: none;
    background-color: #03213a;
    width: 55%;
  }
}

.btn-first{
  margin: 20px 0px;
  padding:8px 0px;
  width: 500px;
}

.name{
  text-align: center;
}

.btn-next{
  margin: 20px 0px;
  padding:8px 0px;
  width: 220px;
}

.btn-previous{
  width: 220px;
  padding:8px 0px;
  margin: 20px 20px 20px 0px;
}

.wellcome-wrapper {
  position: fixed;
  width: 100%;
  top: 64px;
  min-height: 300px;
  max-height: 300px;
  z-index: 999;

  @media (max-width: 768px) {
    flex-direction: column-reverse;
    min-height: 130px;
    padding-bottom: 15px;
  }

  .main-person-container {
    margin-left: 50px;

    @media (max-width: 768px) {
      display: none;
    }

    li {
      font-size: 20px;
      cursor: pointer;
      transition: all 0.5s;

      &:hover {
        color: #097ede;
        transform: scale(1.05);
      }

      .porn {
        color: red;
      }
      .blur {
        filter: blur(5px);
      }
    }
  }

  .search {
    @media (max-width: 768px) {
      width: 80%;

      &:focus {
        width: 90%;
      }
    }
  }
}

@media (max-width: 768px) {

  .btn-first{
    margin: 20px 0px;
    padding:8px 0px;
    width: 150px;
}

.btn-next{
  display: inline-block;
    width: 120px;
    margin: 5px 0px;
    padding:8px 0px;
    display: block;
}

.btn-previous{
    display: inline-block;
    width: 120px;
    padding:8px 0px;
    margin: 20px 20px 20px 0px;
}
}
