<div class="movie-details-wrapper" *ngIf="movie"
  style="background-image: linear-gradient(rgb(3,37,65), rgb(3 37 65 / 85%)),url(https://image.tmdb.org/t/p/w1280{{movie.backdrop_path}});">

  <div class="main">
    <div class="poster-image">
      <img src="https://image.tmdb.org/t/p/w1280/{{movie.poster_path}}" alt="">
      <img *ngIf="!movie.poster_path" src="https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-38-picture-grey-c2ebdbb057f2a7614185931650f8cee23fa137b93812ccb132b9df511df1cfac.svg" alt="">
    </div>

    <div class="movie-info">
      <a class="movie-title" href="{{movie.homepage}}" target="_blank">{{movie.title == null? movie.original_name:
        movie.title}}
        <span *ngIf="mediaType == 'movie' && movie.release_date">({{movie.release_date | date:"yyyy" }})</span>
        <span *ngIf="mediaType == 'tv' && movie.first_air_date">({{movie.first_air_date | date:"yyyy"}} - {{movie.last_air_date |
          date:"yyyy"}})</span></a>

      <div class="rating-wrapper">
        <div class="rating">
          <svg style="width:26px;height:26px;" viewBox="0 0 24 24">
            <path fill="yellow"
              d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" />
          </svg>
          <span class="vote-average {{getClassNameByRate(movie.vote_average)}}">{{movie.vote_average}}</span><span
            class="max">/10 </span>
          <span class="vote_count"> ({{movie.vote_count}})</span>
        </div>
      </div>
      <div class="facts">

        <span class="release" *ngIf="movie.production_countries.lenght>0">
          {{movie.release_date | date }} ({{movie.production_countries[0].iso_3166_1}})
        </span>

        <div class="genres">
          <span *ngFor="let genre of movie.genres"> {{genre.name}}, </span>
        </div>

        <span class="runtime" *ngIf="mediaType == 'movie'">
          {{movie.runtime}} minutes
        </span>

      </div>

      <div class="overview">
        <h4>Overview</h4>
        <p [innerText]="movie.overview"></p>
      </div>

      <div class="keywords" *ngIf="keywords">
        <h4>Keywords</h4>
        <li *ngFor="let keyword of keywords.keywords">{{keyword.name}}</li>
      </div>
      <p>Status: {{movie.status}}</p>


      <div class="play-trailer" (click)="showModal=true">
        <img
          src="https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-175-play-806cb05551791b8dedd7f8d38fd3bd806e2d397fcfeaa00a5cc9129f0819fd07.svg"
          alt="">
      </div>
    </div>
  </div>

  <!-- <div class="scroller" *ngIf="movie.seasons" style="margin: 15px auto;">
    <a routerLink="/season/{{movie.id}}/{{season.season_number}}" *ngFor="let season of movie.seasons" class="scroll-item">
      <img src="https://image.tmdb.org/t/p/w1280{{season.poster_path}}" *ngIf="season.poster_path">
      <div class="movie-info">
        <p class="title">{{season.name}}</p>
        <p>{{season.air_date | date}}</p>
      </div>
    </a>
  </div>  -->

  <app-casts [movieId]="movie.id" [mediaType]="mediaType"></app-casts>

  </div>
